* {
  margin: 0;
  padding: 0;
}

.d-flex {
  display: flex;
}

.p-relative {
  position: relative;
}

.j-center {
  justify-content: center;
}

.a-center {
  align-items: center;
}

.flex-dir {
  flex-direction: column;
}

.partial0 {
  justify-content: space-around;
  background-color: rgb(78, 75, 75);
  padding: 3% 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: azure;
}

.content {
  width: 90%;
  margin: 0 auto;
}

.movie-cont {
  padding: 0;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 50px;
  margin-bottom: 50px;
}

.movie-cont li {
  width: 25%;
  padding: 10px;
  box-shadow: 0 4px 6px rgb(46, 45, 45);
}

.desc {
  width: 80%;
  justify-content: space-around;
  align-items: flex-start;
  margin: 10px 0;
}

.desc h2 {
  color: grey;
}

.likes {
  row-gap: 10px;
  height: 1%;
}

.btn-cont {
  width: 80%;
  row-gap: 10px;
}

.btn-cont button {
  width: 60%;
  text-transform: capitalize;
  color: black;
  border: 0;
  outline: 0;
  padding: 12px;
  font-size: 20px;
  box-shadow: 0 4px 6px grey;
  background-color: #fff;
}
